@charset "utf-8";

body {
    line-height: 1.8;
    margin-bottom: 10ex;
}

input {
    width: 90vw;
}

button {
    margin-top: 2ex;
    width: 90vw;
}

svg {
    border: 1px solid gray;
    width: 90vw;
    height: 90vw;
}

.table .row {
    margin-bottom: 2ex;
}

.error {
    color: red;
}

@media (orientation: landscape) {

    body {
        line-height: 1.5;
    }

    input {
        width: 70vh;
    }

    button {
        margin-top: 0ex;
        width: auto;
    }

    svg {
        width: 70vh;
        height: 70vh;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        padding: 0.5ex 2ex 0.5ex 0ex;
        vertical-align: middle;
    }

}

