@charset "utf-8";

article {
    line-height: 1.8;
    margin-bottom: 10ex;
}

input {
    width: 90%;
}

input[type="button"] {
    margin-top: 2ex;
}

canvas {
    border: 1px solid gray;
    width: 90%;
}

.table .row {
    margin-bottom: 2ex;
}

.error {
    color: red;
}

@media (min-width: 768px) {

    article {
        line-height: 1.5;
    }

    #pattern {
        width: 300px;
    }

    input[type="button"] {
        margin-top: 0ex;
        width: auto;
    }

    canvas {
        width: 300px;
    }

    .table {
        display: table;
    }

    .table .row {
        display: table-row;
    }

    .table .row .cell {
        display: table-cell;
        padding: 0.5ex 2ex 0.5ex 0ex;
        vertical-align: middle;
    }

}

